<div class="game" ng-mousedown="track($event)" ng-mouseup="untrack($event)">
</div>
<audio id="started" src="started.ogg"></audio>
<audio id="waiting" src="waiting.ogg"></audio>
<audio id="footsteps" src="footstep.ogg" onended="onAudioEvent('footsteps')"></audio>
<audio id="wallHit" src="wallhit.ogg" onended="onAudioEvent('wallHit')"></audio>
