<div class="gameboard" ng-mousedown="track($event)" ng-mouseup="untrack($event)">
</div>
<audio id="started" src="started.ogg"></audio>
<audio id="waiting" src="waiting.ogg"></audio>
<audio id="footsteps" src="footstep.ogg"></audio>
<audio id="wallHit" src="wallhit.ogg"></audio>
<audio id="near" src="near.ogg"></audio>
<audio id="loser" src="loser.ogg"></audio>
<audio id="winner" src="winner.ogg"></audio>
<audio id="countdown" src="countdown.ogg"></audio>
